<html>
<head>
</head>
<body>
<h1>Assignment 4</h1>
<h3> Files: <a href="../static/hw4.zip">Download </a> 
<p>
<form action="#" method="post">
		Assignment Submission: </br>
		<p>
		<p> Uniqname: <input name="uniqname" type="text" /> UM id: <input name="umid" type="text" /> 
		<p> Site URL: <input name="siteURL" type="text" value="http://abcde.gfh"/>
		<input value="submit" type="submit" />
</form>
</p>
You would need atleast five pages and on each page, we perform following tests. 
<ul>
	<li> URL works: 1 point </li>
	<li> A title : 1 point</li>
	<li> Header tag : 1 point </li>
	<li> Nav tag : 2 points if inside Header otherwise 1 point</li>
	<li> No list inside Nav and links to other pages: 1 point</li>
	<li> No table but used div for arranging data : 1 point </li>
	<li> Atleast an image : 1 point </li>
	<li> Atleast an anchor : 1 point </li>
	<li> Has a footer : 1 point </li>
	</ul>
Max: 50 points
Note: It would take 3-5 minutes to process your webpage. Please be patient after you press submit. 
</h3>
</body>

</html>
