<html>
<head>
<link rel="stylesheet" type="text/css" href="assignCSS.css" />
</head>
<body>
<h1>Assignment: Your Page</h1>
<h3> Guidelines: <a href="../static/YourPage.pdf">Download </a> 
<p>
<form action="#" method="post">
		Assignment Submission: </br>
		<p>
		<p> Uniqname: <input name="uniqname" type="text" /> 
		<p> Site URL: <input name="siteURL" type="text" value="http://www.abcde.gfh"/>
		<input value="submit" type="submit" />
</form>
</p>
You would need atleast five pages and on each page, we evaluate in the following manner. 
<ul>
	<li> URL works: 3 point </li>
	<li> A title : 1 point</li>
	<li> Header, Footer, Nav : 1 point each</li>
	<li> Atleast an h1 tag: 1 point </li>
	<li> Atleast two classes : 1 point </li>
	<li> Uses id=current : 1 point </li>
	</ul>
Max Point/page = 10
Total Points = 5 X 10 = 50 points
Note: It would take 3-5 minutes to process your webpage. Please be patient after you press submit. 
</h3>
</body>

</html>
